<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link rel="stylesheet" href="/static/css/alternativo">
    <link rel="stylesheet" href="/static/css/cardapio.css">
    <title>Cardapio</title>
</head>
<body>
    <header>
        <ul class="menu-itens">
            <li><a href="/">Home</a></li>
            <li><a href="/reserva">Reserva</a></li>
        </ul>
    </header>
    <div class="imagem-fundo">
        <div class="campo_imgfundo">
            <h3>Cardapio</h3>
            <h1>Sushi Koi</h1>
        </div>  
    </div>
    <div class="gradiente"></div>
   
    <!-- -==============================- -->
    <section class="section section-divider white promo">
        <div class="container">

          <ul class="promo-list has-scrollbar">

            <li class="promo-item">
              <div class="promo-card">
                <div class="card-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none"
                    xmlns:v="https://vecta.io/nano">
                    <g clip-path="url(#A)" fill="#ff9d2d">
                    </g>
                    <defs>
                      <clipPath id="A">
                        <path fill="#fff" d="M0 0h60v60H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <h3 class="h3 card-title">Sushi</h3>
                <p class="card-text">
                    Um prato icônico da culinária japonesa, composto por arroz temperado e peixe cru ou frutos do mar, envolvidos em algas marinha.
                </p>
                <img src="/static/img/Cardapio-clasicos/Sushi.png" width="300" height="300" loading="lazy" alt="Maxican Pizza"
                  class="w-100 card-banner">
              </div>
            </li>

            <li class="promo-item">
              <div class="promo-card">
                <div class="card-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none"
                    xmlns:v="https://vecta.io/nano">
                    <g clip-path="url(#A)" fill="#ff9d2d">  
                    </g>
                    <defs>
                      <clipPath id="A">
                        <path fill="#fff" d="M0 0h60v60H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <h3 class="h3 card-title">Sashimi</h3>
                <p class="card-text">
                    Uma delicada apresentação de fatias finas de peixe cru fresco, servido sem arroz. Os tipos comuns de peixe incluem salmão, atum e peixe branco.
                </p>
                <img src="/static/img/Cardapio-clasicos/Sashimi.png" width="300" height="300" loading="lazy" alt="Soft Drinks"
                  class="w-100 card-banner">
              </div>
            </li>

            <li class="promo-item">
              <div class="promo-card">
                <div class="card-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none"
                    xmlns:v="https://vecta.io/nano">
                    <g clip-path="url(#A)" fill="#ff9d2d">
                    </g>
                    <defs>
                      <clipPath id="A">
                        <path fill="#fff" d="M0 0h60v60H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <h3 class="h3 card-title">Tempura</h3>
                <p class="card-text">
                    Uma técnica de fritura japonesa, onde frutos do mar, vegetais ou até mesmo doces são revestidos em massa leve e fritos até ficarem crocantes e dourados.
                </p>
                <img src="/static/img/Cardapio-clasicos/Tempura.png" width="300" height="300" loading="lazy" alt="French Fry"
                  class="w-100 card-banner">
              </div>
            </li>

            <li class="promo-item">
              <div class="promo-card">
                <div class="card-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none"
                    xmlns:v="https://vecta.io/nano">
                    <g clip-path="url(#A)">
                    </g>
                    <defs>
                      <clipPath id="A">
                        <path fill="#fff" d="M0 0h60v60H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <h3 class="h3 card-title">Ramen</h3>
                <p class="card-text">
                    Um prato de sopa japonesa consistente, com macarrão fino e longo, servido em caldo à base de carne ou vegetais.
                </p>
                <img src="/static/img/Cardapio-clasicos/Ramen.png" width="300" height="300" loading="lazy" alt="Burger Kingo"
                  class="w-100 card-banner">
              </div>
            </li>

            <li class="promo-item">
              <div class="promo-card">
                <div class="card-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none"
                    xmlns:v="https://vecta.io/nano">
                    <g clip-path="url(#A)">
                    </g>
                    <defs>
                      <clipPath id="A">
                        <path fill="#fff" d="M0 0h60v60H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <h3 class="h3 card-title">Gyoza</h3>
                <p class="card-text">
                    Pequenos bolinhos japoneses, recheados com carne de porco moída e vegetais.
                </p>
                <img src="/static/img/Cardapio-clasicos/Gyoza.png" width="300" height="300" loading="lazy" alt="Chicken Masala"
                  class="w-100 card-banner">
              </div>
            </li>

          </ul>

        </div>
      </section>

      <!-- ===================================== -->
      <section class="section food-menu" id="food-menu">
        <div class="container">
          <h2 class="h2 section-title">
            Do tamanho da <span class="span">sua Fome!</span>
          </h2>
          <p class="section-text">
            Perfeitas para dividir, e para seus momentos em familia.
          </p>

          <ul class="fiter-list">
            <li>
              <button class="filter-btn  active">Barcas</button>
            </li>
            <li>
              <button class="filter-btn">Entradas</button>
            </li>

            <li>
              <button class="filter-btn">Pratos quentes</button>
            </li>
            <li>
              <button class="filter-btn">Sushi</button>
            </li>
            <li>
              <button class="filter-btn">Drinks</button>
            </li>
          </ul>

          <ul class="food-menu-list">

            <li>
              <div class="food-menu-card">
                <div class="card-banner">
                  <img src="https://t3.ftcdn.net/jpg/02/35/68/52/240_F_235685263_QvY0O9GHvOGfyX982NeG5xDOfhErvCsB.jpg" width="300" height="300" loading="lazy"
                    alt="Fried Chicken Unlimited" class="w-100">
                  <button class="btn food-menu-btn">Barca Executiva</button>
                </div>
                <p>   12 sushis variados (salmão, atum, camarão, peixe branco, vieiras)</p>
                <p>8 sashimis variados (salmão, atum, peixe branco, polvo)</p>
                <p>6 uramakis de salmão com cream cheese e cebolinha</p>
                <p>6 nigiris de vieiras com trufas</p>
                <div class="wrapper">
                  <p class="category">Barcas</p>
                </div>
                <div class="price-wrapper">
                  <p class="price-text">Preço</p>
                  <data class="price">R$199,99</data>
                </div>
              </div>
            </li>

            <li>
              <div class="food-menu-card">
                <div class="card-banner">
                  <img src="https://t3.ftcdn.net/jpg/01/63/98/04/240_F_163980422_unI2VqbtXwoQ7HjcsgVqTX4NJMYvY23J.jpg" width="300" height="300" loading="lazy"
                    alt="Burger King Whopper" class="w-100">
                  <button class="btn food-menu-btn">Barca Premium</button>
                </div>
                <p> 12 sushis variados (salmão, atum, camarão, peixe branco, vieiras)</p>
                <p>10 sashimis variados (salmão, atum, peixe branco, polvo)</p>
                <p>6 nigiris de ouriço do mar</p>
                <p> 6 uramakis de king crab</p>
                <div class="wrapper">
                  <p class="category">Barcas</p>
                </div>
                <div class="price-wrapper">
                  <p class="price-text">Preço</p>
                  <data class="price" value="29.00">R$ 180,00</data>
                </div>
              </div>
            </li>

            <li>
              <div class="food-menu-card">
                <div class="card-banner">
                  <img src="https://t3.ftcdn.net/jpg/05/44/11/70/240_F_544117065_udJmsxJJoBTTuAeKLDnoZgYTXyPiAJM9.jpg" width="300" height="300" loading="lazy"
                    alt="White Castle Pizzas" class="w-100">
                  <button class="btn food-menu-btn">Barca Fusion</button>
                </div>
                <p> 8 uramakis de salmão com cream cheese e cebolinha</p>
                <p>8 hossomakis de salmão picante</p>
                <p>6 nigiris de atum com molho teriyaki</p>
                <p>6 gunkan de salmão com maionese spicy</p>
                <div class="wrapper">
                  <p class="category">Barcas</p>
                </div>
                <div class="price-wrapper">
                  <p class="price-text">Preço</p>
                  <data class="price" value="49.00">R$ 110,00</data>
                </div>
              </div>
            </li>

            <li>
              <div class="food-menu-card">
                <div class="card-banner">
                  <img src="https://t3.ftcdn.net/jpg/06/19/45/30/240_F_619453048_ONp1eipt7yUWFh8wRiQpxylL2em5FkAO.jpg" width="300" height="300" loading="lazy"
                    alt="Bell Burrito Supreme" class="w-100">
                  <button class="btn food-menu-btn">Barca Especial de Frutos do Mar</button>
                </div>
                <p>10 sushis variados (salmão, atum, camarão, polvo)</p>
                <p>8 sashimis variados (salmão, atum, camarão, polvo)</p>
                <p>6 nigiris de vieiras</p>
                <p>6 hossomakis de caranguejo</p>
                <div class="wrapper">
                  <p class="category">Barcas - frutos do mar</p>
                </div>
                <div class="price-wrapper">
                  <p class="price-text">Preço</p>
                  <data class="price" value="59.00 ">R$159,00</data>
                </div>
              </div>
            </li>

            <li>
              <div class="food-menu-card">
                <div class="card-banner">
                  <img src="https://t3.ftcdn.net/jpg/04/62/28/24/240_F_462282466_QIczD9CTNv4K4hK30udTWMas21VsZB0M.jpg" width="300" height="300" loading="lazy"
                    alt="Kung Pao Chicken BBQ" class="w-100">
                  <button class="btn food-menu-btn">Barca Vegetariana:</button>
                </div>
                <p>8 uramakis de abacate</p>
                <p>8 hossomakis de pepino e manga</p>
                <p>8 nigiris de omelete japonês (tamagoyaki)</p>
                <p>6 gunkan de algas marinhas com ovas de peixe voador</p>
                <div class="wrapper">
                  <p class="category">Barcas- veganos</p>
                </div>
                <div class="price-wrapper">
                  <p class="price-text">Preço</p>
                  <data class="price" value="49.00">R$129,00</data>
                </div>
              </div>
            </li>

            <li>
              <div class="food-menu-card">
                <div class="card-banner">
                  <img src="https://t4.ftcdn.net/jpg/06/06/92/87/240_F_606928774_49nwP33Wqf2WQ0fTBxEN8Mid6U3nOWMq.jpg" width="300" height="300" loading="lazy"
                    alt="Wendy's Chicken" class="w-100">
                  <button class="btn food-menu-btn">Barca Tradicional</button>
                </div>
                <p> 12 sushis variados (salmão, atum, camarão, peixe branco)</p>
                <p>8 sashimis variados (salmão, atum, peixe branco)</p>
                <p>6 hossomakis de pepino e abacate</p>
                <p>6 uramakis de salmão com cream cheese</p>

                <div class="wrapper">
                  <p class="category">Barcas</p>
                </div>
                <div class="price-wrapper">
                  <p class="price-text">Preço</p>
                  <data class="price" value="49.00">R$120,00</data>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- ================================== -->

      

</body>
</html>