<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <title>Sushi Koi</title>
</head>
<body>
</body>
<header>
    <ul class="menu-itens">
        <li><a href="#info-01">Home</a></li>
        <li><a href="/cardapio">Cardapio</a></li>
        <li><a href="/reserva">Reserva</a></li>
        <li><a href="#sobre">Sobre</a></li>
    </ul>
</header>
<div class="imagem-fundo">
    <div class="campo_imgfundo">
        <h3>Eleve sua experiência</h3>
        <h3>gastronômica no</h3>
        <h1>Sushi Koi</h1>
        <button class="conhecer"><a href="#sobre"> Conhecer</a></button>
    </div>
</div>
<!-- Section-01 -->
<section  id="sobre">
    <div class="fundo-txt">
       <div class="campo_txt">
        <h2>Comemore 10 anos de sabor com o Sushi Koi!</h2>
        <br>
        <p>Há 10 anos, o Sushi Koi se dedica a oferecer a você a autêntica experiência da culinária japonesa. Com um ambiente aconchegante e um atendimento impecável, nos tornamos o refúgio ideal para quem aprecia a delicadeza e o frescor dos pratos orientais.</p>
       </div>
    </div>
</section>
<!-- Section-02 -->
    <section class="container_cardapio ">
        <h2>Clasicos</h2>
        <h1>Sushi Koi</h1>
        <div class="espaço_acompanhamento_img">
            <div class="imagens_acompanhamento">
                <img src="https://t3.ftcdn.net/jpg/02/78/62/04/240_F_278620401_FqWiiWk0g4eNLwKP746S0uIf56eIKn0Q.jpg">
                <img src="https://t4.ftcdn.net/jpg/02/34/67/09/240_F_234670926_Xn57WsPeMNXmzRtrrU6C6NgLtO1W22PP.jpg" alt="">
                <img src="https://t4.ftcdn.net/jpg/01/20/29/21/240_F_120292135_kctNP1qPUquW22yYSyTxkCaMutaCFCjq.jpg" alt="">
                <img src="https://t3.ftcdn.net/jpg/01/59/84/40/240_F_159844017_AVvsLIwO3lBgbx6aLNUpPd3nxV2ed0td.jpg" alt="">
                <img src="https://t3.ftcdn.net/jpg/04/84/23/14/240_F_484231415_mZWHzhNw0e1pbeiwDYHLg7FM6pXV23my.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="container_rodizio">
        <img src="/static/img/palito-sushi.png" alt="">
            <div class="campo_rodizio__conteudo">
                <h2>No rodizio do</h2>
                <h1>Sushi Koi</h1>
                <br>
                <p>Experimente o melhor da culinária japonesa por um preço imperdível! Nosso rodízio oferece uma variedade de sushis, sashimis, temakis, pratos quentes e sobremesas para você se deliciar à vontade.</p>
                <br>
                <a class="conhecer" href="/reserva">Reservar</a>
            </div>
    </section>

    <section class="container__cardapio" id="cardapio">
        <br><br><br>
            <div class="campo_cardapio__conteudo">
                <h2>Autêntica experiência da culinária japonesa no</h2>
                <h1>Sushi Koi</h1>
                <br>
                <p>Nosso rodízio imperdível te convida a uma jornada gastronômica inesquecível, onde cada mordida é uma explosão de sabores frescos e aromas irresistíveis.Venha se deliciar no Sushi Koi e viva uma experiência gastronômica inesquecível!</p>
                <br>
                <button class="conhecer"><a href="/cardapio"> Cardapio</a></button>
            </div>
        </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-logo">
            <h1>Sushi Koi</h1>
          </div>
          <div class="footer-info">
            <p>Endereço: Rua Exemplo, 123 - Bairro, Cidade - Estado</p>
            <p>Telefone: (00) 1234-5678</p>
            <p>Email: info@sushiki.com</p>
          </div>
          <div class="footer-social">
            <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Restaurante Sushi Ki. Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>
    
      
</html>